In [1]:
# Needed for SQL Alchemy  
from sqlalchemy import create_engine
engine=create_engine('sqlite:///.CourseData',echo=False)

# All query results are returned as Pandas DataFrames 
import pandas as pd

#Used for importing CSVs
import glob
import os

# Needed for %sql Magic
%load_ext sql

import sqlite3

In [2]:
#Create CourseData and CourseDqtaWarehouse Databases
conn = sqlite3.connect("./CourseData.db")
conn = sqlite3.connect("./CourseDataWarehouse.db")

In [3]:
CourseCatalog2017_2018=pd.read_csv("./SourceData/Catalogs/CourseCatalog2017_2018.csv")
CourseCatalog2018_2019=pd.read_csv("./SourceData/Catalogs/CourseCatalog2018_2019.csv")

In [4]:
#Reading and combining all course meetings CSVs

#Get list of folders/files in Source Data folder
folders=glob.glob('./SourceData/*')

#Delete folders/files from list that don't contain course meeting CSV files
del folders[5]
del folders[12]
del folders[16]

#Read CSVs from folders in list and combine into a single dataframe
all_files=[]
for path in folders:
    all_files += glob.glob(os.path.join(path, "course_meetings.csv"))     # advisable to use os.path.join as this makes concatenation OS independent
df_from_each_file = (pd.read_csv(f) for f in all_files)
course_meetings = pd.concat(df_from_each_file, ignore_index=True, sort=True)

course_meetings.term.unique()

array(['Fall2015', 'Fall2014', 'Winter2015', 'Spring2015', 'Summer2015',
       'Fall2016', 'Fall2018', 'Fall2017', 'Spring2019',
       'SpringBreak2017', 'Spring2017', 'Winter2018', 'Winter2016',
       'Spring2016', 'Spring2018', 'Winter2017', 'Summer2017',
       'Summer2018', 'Summer2016'], dtype=object)

In [5]:
#Reading and combining all courses CSVs

#Get list of folders/files in Source Data folder
folders=glob.glob('./SourceData/*')

#Delete folders/files from list that don't contain courses CSV files
del folders[5]
del folders[12]
del folders[16]

#Read CSVs from folders in list and combine into a single dataframe
all_files=[]
for path in folders:
    all_files += glob.glob(os.path.join(path, "courses.csv"))     # advisable to use os.path.join as this makes concatenation OS independent
df_from_each_file = (pd.read_csv(f) for f in all_files)
courses = pd.concat(df_from_each_file, ignore_index=True, sort=True)

courses.term.unique()

array(['Fall2015', 'Fall2014', 'Winter2015', 'Spring2015', 'Summer2015',
       'Fall2016', 'Fall2018', 'Fall2017', 'Spring2019',
       'SpringBreak2017', 'Spring2017', 'Winter2018', 'Winter2016',
       'Spring2016', 'Spring2018', 'Winter2017', 'Summer2017',
       'Summer2018', 'Summer2016'], dtype=object)

In [15]:
CourseCatalog2017_2018.to_sql('CourseCatalog2017_2018',con=engine,if_exists='replace')
CourseCatalog2018_2019.to_sql('CourseCatalog2018_2019',con=engine,if_exists='replace')

In [33]:
#Check length of course_meetings DataFrame
len(course_meetings.index)

317321

In [34]:
#import course_meetings DataFrame to SQL as separate tables because DataFrame is too large to import at once.
#Will use a union later in SQL to combine them

course_meetings[:35000].to_sql('course_meetings1',con=engine,if_exists='replace')
course_meetings[35000:70000].to_sql('course_meetings2',con=engine,if_exists='replace')
course_meetings[70000:105000].to_sql('course_meetings3',con=engine,if_exists='replace')
course_meetings[105000:140000].to_sql('course_meetings4',con=engine,if_exists='replace')
course_meetings[140000:175000].to_sql('course_meetings5',con=engine,if_exists='replace')
course_meetings[175000:210000].to_sql('course_meetings6',con=engine,if_exists='replace')
course_meetings[210000:245000].to_sql('course_meetings7',con=engine,if_exists='replace')
course_meetings[245000:280000].to_sql('course_meetings8',con=engine,if_exists='replace')
course_meetings[280000:315000].to_sql('course_meetings9',con=engine,if_exists='replace')
course_meetings[315000:].to_sql('course_meetings10',con=engine,if_exists='replace')

In [36]:
#Check length of courses DataFrame
len(courses.index)

15937

In [37]:
courses.to_sql('courses',con=engine,if_exists='replace')

In [38]:
# Initialize 
%sql sqlite:///.CourseData

'Connected: @.CourseData'

In [39]:
%%sql

SELECT name, sql FROM sqlite_master
WHERE type='table'
ORDER BY name;

 * sqlite:///.CourseData
Done.

[('CourseCatalog2017_2018', 'CREATE TABLE "CourseCatalog2017_2018" (\n\t"index" BIGINT, \n\tprogram_code TEXT, \n\tprogram_name TEXT, \n\tcatalog_id TEXT, \n\tcourse_title TEXT, \n\tcredits TEXT, \n\tprereqs TEXT, \n\tcoreqs TEXT, \n\tfees TEXT, \n\tattributes TEXT, \n\tdescription TEXT\n)'),
 ('CourseCatalog2018_2019', 'CREATE TABLE "CourseCatalog2018_2019" (\n\t"index" BIGINT, \n\tprogram_code TEXT, \n\tprogram_name TEXT, \n\tcatalog_id TEXT, \n\tcourse_title TEXT, \n\tcredits TEXT, \n\tprereqs TEXT, \n\tcoreqs TEXT, \n\tfees TEXT, \n\tattributes TEXT, \n\tdescription TEXT\n)'),
 ('course_meetings1', 'CREATE TABLE course_meetings1 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings10', 'CREATE TABLE course_meetings10 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings2', 'CREATE TABLE course_meetings2 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings3', 'CREATE TABLE course_meetings3 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings4', 'CREATE TABLE course_meetings4 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings5', 'CREATE TABLE course_meetings5 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings6', 'CREATE TABLE course_meetings6 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings7', 'CREATE TABLE course_meetings7 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings8', 'CREATE TABLE course_meetings8 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings9', 'CREATE TABLE course_meetings9 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('courses', 'CREATE TABLE courses (\n\t"index" BIGINT, \n\tact BIGINT, \n\tcap BIGINT, \n\tcatalog_id TEXT, \n\tcredits TEXT, \n\tcrn BIGINT, \n\tmeetings TEXT, \n\tprimary_instructor TEXT, \n\trem BIGINT, \n\tsection TEXT, \n\tterm TEXT, \n\ttimecodes TEXT, \n\ttitle TEXT\n)')]

In [59]:
%%sql

CREATE TABLE all_course_meetings (
term text,
crn int,
location datexttatype,
day text,
start text,
end text
);

 * sqlite:///.CourseData
(sqlite3.OperationalError) table all_course_meetings already exists [SQL: 'CREATE TABLE all_course_meetings (\nterm text,\ncrn int,\nlocation datexttatype,\nday text,\nstart text,\nend text\n);'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [65]:
%%sql

INSERT INTO all_course_meetings
    select term,crn,location,day,start,end from course_meetings1
union all
    select term,crn,location,day,start,end from course_meetings2
union all
    select term,crn,location,day,start,end from course_meetings3
union all
    select term,crn,location,day,start,end from course_meetings4
union all
    select term,crn,location,day,start,end from course_meetings5
union all
    select term,crn,location,day,start,end from course_meetings6
union all
    select term,crn,location,day,start,end from course_meetings7
union all
    select term,crn,location,day,start,end from course_meetings8
union all
    select term,crn,location,day,start,end from course_meetings9
union all
    select term,crn,location,day,start,end from course_meetings10
;

 * sqlite:///.CourseData
317321 rows affected.

[]

In [66]:
%%sql

select * from all_course_meetings limit 100

 * sqlite:///.CourseData
Done.

[('Fall2015', 75222, 'DSB 112', 'R', '2015-09-03T14:00:00', '2015-09-03T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-07T14:00:00', '2015-09-07T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-09-10T14:00:00', '2015-09-10T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-14T14:00:00', '2015-09-14T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-09-17T14:00:00', '2015-09-17T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-21T14:00:00', '2015-09-21T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-09-24T14:00:00', '2015-09-24T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-28T14:00:00', '2015-09-28T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-10-01T14:00:00', '2015-10-01T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-10-05T14:00:00', '2015-10-05T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-10-08T14:00:00', '2015-10-08T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-10-15T14:00:00', '2015-10-15T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-10-19T14:00:00', '2015-10-19T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-10-22T14:00:00', '2015-10-22T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-10-26T14:00:00', '2015-10-26T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-10-29T14:00:00', '2015-10-29T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-11-02T14:00:00', '2015-11-02T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-11-05T14:00:00', '2015-11-05T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-11-09T14:00:00', '2015-11-09T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-11-12T14:00:00', '2015-11-12T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-11-16T14:00:00', '2015-11-16T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-11-19T14:00:00', '2015-11-19T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-11-23T14:00:00', '2015-11-23T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-11-30T14:00:00', '2015-11-30T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-12-03T14:00:00', '2015-12-03T15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-12-07T14:00:00', '2015-12-07T15:15:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-09-03T15:30:00', '2015-09-03T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-09-07T15:30:00', '2015-09-07T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-09-10T15:30:00', '2015-09-10T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-09-14T15:30:00', '2015-09-14T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-09-17T15:30:00', '2015-09-17T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-09-21T15:30:00', '2015-09-21T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-09-24T15:30:00', '2015-09-24T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-09-28T15:30:00', '2015-09-28T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-10-01T15:30:00', '2015-10-01T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-10-05T15:30:00', '2015-10-05T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-10-08T15:30:00', '2015-10-08T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-10-15T15:30:00', '2015-10-15T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-10-19T15:30:00', '2015-10-19T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-10-22T15:30:00', '2015-10-22T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-10-26T15:30:00', '2015-10-26T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-10-29T15:30:00', '2015-10-29T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-11-02T15:30:00', '2015-11-02T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-11-05T15:30:00', '2015-11-05T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-11-09T15:30:00', '2015-11-09T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-11-12T15:30:00', '2015-11-12T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-11-16T15:30:00', '2015-11-16T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-11-19T15:30:00', '2015-11-19T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-11-23T15:30:00', '2015-11-23T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-11-30T15:30:00', '2015-11-30T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'R', '2015-12-03T15:30:00', '2015-12-03T16:45:00'),
 ('Fall2015', 75240, 'DSB 112', 'M', '2015-12-07T15:30:00', '2015-12-07T16:45:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-09-01T14:00:00', '2015-09-01T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-09-04T14:00:00', '2015-09-04T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-09-08T14:00:00', '2015-09-08T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-09-11T14:00:00', '2015-09-11T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-09-15T14:00:00', '2015-09-15T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-09-18T14:00:00', '2015-09-18T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-09-22T14:00:00', '2015-09-22T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-09-25T14:00:00', '2015-09-25T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-09-29T14:00:00', '2015-09-29T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-10-02T14:00:00', '2015-10-02T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-10-06T14:00:00', '2015-10-06T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-10-09T14:00:00', '2015-10-09T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-10-16T14:00:00', '2015-10-16T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-10-20T14:00:00', '2015-10-20T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-10-23T14:00:00', '2015-10-23T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-10-27T14:00:00', '2015-10-27T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-10-30T14:00:00', '2015-10-30T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-11-03T14:00:00', '2015-11-03T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-11-06T14:00:00', '2015-11-06T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-11-10T14:00:00', '2015-11-10T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-11-13T14:00:00', '2015-11-13T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-11-17T14:00:00', '2015-11-17T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-11-20T14:00:00', '2015-11-20T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-11-24T14:00:00', '2015-11-24T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'T', '2015-12-01T14:00:00', '2015-12-01T15:15:00'),
 ('Fall2015', 75241, 'DSB 115', 'F', '2015-12-04T14:00:00', '2015-12-04T15:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-09-01T08:00:00', '2015-09-01T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-09-04T08:00:00', '2015-09-04T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-09-08T08:00:00', '2015-09-08T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-09-11T08:00:00', '2015-09-11T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-09-15T08:00:00', '2015-09-15T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-09-18T08:00:00', '2015-09-18T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-09-22T08:00:00', '2015-09-22T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-09-25T08:00:00', '2015-09-25T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-09-29T08:00:00', '2015-09-29T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-10-02T08:00:00', '2015-10-02T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-10-06T08:00:00', '2015-10-06T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-10-09T08:00:00', '2015-10-09T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-10-16T08:00:00', '2015-10-16T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-10-20T08:00:00', '2015-10-20T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-10-23T08:00:00', '2015-10-23T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-10-27T08:00:00', '2015-10-27T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-10-30T08:00:00', '2015-10-30T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-11-03T08:00:00', '2015-11-03T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-11-06T08:00:00', '2015-11-06T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-11-10T08:00:00', '2015-11-10T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'F', '2015-11-13T08:00:00', '2015-11-13T09:15:00'),
 ('Fall2015', 75243, 'DSB 111', 'T', '2015-11-17T08:00:00', '2015-11-17T09:15:00')]

In [ ]:
%%sql