In [1]:
# Needed for SQL Alchemy  
from sqlalchemy import create_engine
engine=create_engine('sqlite:///.CourseData',echo=False)

# All query results are returned as Pandas DataFrames 
import pandas as pd

#Used for importing CSVs
import glob
import os

# Needed for %sql Magic
%load_ext sql

import sqlite3

In [2]:
#Create CourseData and CourseDqtaWarehouse Databases
conn = sqlite3.connect("./CourseData.db")
conn = sqlite3.connect("./CourseDataWarehouse.db")

In [3]:
CourseCatalog2017_2018=pd.read_csv("./SourceData/Catalogs/CourseCatalog2017_2018.csv")
CourseCatalog2018_2019=pd.read_csv("./SourceData/Catalogs/CourseCatalog2018_2019.csv")

In [4]:
#Reading and combining all course meetings CSVs

#Get list of folders/files in Source Data folder
folders=glob.glob('./SourceData/*')

#Delete folders/files from list that don't contain course meeting CSV files
del folders[5]
del folders[12]
del folders[16]

#Read CSVs from folders in list and combine into a single dataframe
all_files=[]
for path in folders:
    all_files += glob.glob(os.path.join(path, "course_meetings.csv"))     # advisable to use os.path.join as this makes concatenation OS independent
df_from_each_file = (pd.read_csv(f) for f in all_files)
course_meetings = pd.concat(df_from_each_file, ignore_index=True, sort=True)

course_meetings.term.unique()

array(['Fall2015', 'Fall2014', 'Winter2015', 'Spring2015', 'Summer2015',
       'Fall2016', 'Fall2018', 'Fall2017', 'Spring2019',
       'SpringBreak2017', 'Spring2017', 'Winter2018', 'Winter2016',
       'Spring2016', 'Spring2018', 'Winter2017', 'Summer2017',
       'Summer2018', 'Summer2016'], dtype=object)

In [63]:
#Reading and combining all courses CSVs

#Get list of folders/files in Source Data folder
folders=glob.glob('./SourceData/*')

#Delete folders/files from list that don't contain courses CSV files
del folders[5]
del folders[12]
del folders[16]

#Read CSVs from folders in list and combine into a single dataframe
all_files=[]
for path in folders:
    all_files += glob.glob(os.path.join(path, "courses.csv"))     # advisable to use os.path.join as this makes concatenation OS independent
df_from_each_file = (pd.read_csv(f) for f in all_files)
courses = pd.concat(df_from_each_file, ignore_index=True, sort=True)

#courses.term.unique()



#Split Meetings column in Courses DataFrame into separate columns and clean messy values
courses[['days','times','dates','location']]=courses['meetings'].str.split(',',n=3,expand=True)

for i in ['[','{',':','days',"'",' ']:
    courses['days']=courses['days'].str.replace(i,'')

for i in ['[','{',':','times',"'",' ']:
    courses['times']=courses['times'].str.replace(i,'')

for i in ['[','{',':','dates',"'",' ']:
    courses['dates']=courses['dates'].str.replace(i,'')

for i in ['[','{',':','location',"'",' ','}',']']:
    courses['location']=courses['location'].str.replace(i,'')
    
courses = courses.drop('meetings', 1)

In [64]:
CourseCatalog2017_2018.to_sql('CourseCatalog2017_2018',con=engine,if_exists='replace')
CourseCatalog2018_2019.to_sql('CourseCatalog2018_2019',con=engine,if_exists='replace')

In [65]:
#Check length of course_meetings DataFrame
len(course_meetings.index)

317321

In [66]:
#import course_meetings DataFrame to SQL as separate tables because DataFrame is too large to import at once.
#Will use a union later in SQL to combine them

course_meetings[:35000].to_sql('course_meetings1',con=engine,if_exists='replace')
course_meetings[35000:70000].to_sql('course_meetings2',con=engine,if_exists='replace')
course_meetings[70000:105000].to_sql('course_meetings3',con=engine,if_exists='replace')
course_meetings[105000:140000].to_sql('course_meetings4',con=engine,if_exists='replace')
course_meetings[140000:175000].to_sql('course_meetings5',con=engine,if_exists='replace')
course_meetings[175000:210000].to_sql('course_meetings6',con=engine,if_exists='replace')
course_meetings[210000:245000].to_sql('course_meetings7',con=engine,if_exists='replace')
course_meetings[245000:280000].to_sql('course_meetings8',con=engine,if_exists='replace')
course_meetings[280000:315000].to_sql('course_meetings9',con=engine,if_exists='replace')
course_meetings[315000:].to_sql('course_meetings10',con=engine,if_exists='replace')

In [67]:
#Check length of courses DataFrame
len(courses.index)

15937

In [68]:
courses.to_sql('courses',con=engine,if_exists='replace')

In [69]:
# Initialize 
%sql sqlite:///.CourseData

'Connected: @.CourseData'

In [70]:
%%sql

SELECT name, sql FROM sqlite_master
WHERE type='table'
ORDER BY name;

 * sqlite:///.CourseData
Done.

[('CourseCatalog2017_2018', 'CREATE TABLE "CourseCatalog2017_2018" (\n\t"index" BIGINT, \n\tprogram_code TEXT, \n\tprogram_name TEXT, \n\tcatalog_id TEXT, \n\tcourse_title TEXT, \n\tcredits TEXT, \n\tprereqs TEXT, \n\tcoreqs TEXT, \n\tfees TEXT, \n\tattributes TEXT, \n\tdescription TEXT\n)'),
 ('CourseCatalog2018_2019', 'CREATE TABLE "CourseCatalog2018_2019" (\n\t"index" BIGINT, \n\tprogram_code TEXT, \n\tprogram_name TEXT, \n\tcatalog_id TEXT, \n\tcourse_title TEXT, \n\tcredits TEXT, \n\tprereqs TEXT, \n\tcoreqs TEXT, \n\tfees TEXT, \n\tattributes TEXT, \n\tdescription TEXT\n)'),
 ('all_course_meetings', 'CREATE TABLE all_course_meetings (\nterm text,\ncrn int,\nlocation datexttatype,\nday text,\nstart text,\nend text\n, MeetingDate date, StartTime time, EndTime time)'),
 ('course_meetings1', 'CREATE TABLE course_meetings1 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings10', 'CREATE TABLE course_meetings10 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings2', 'CREATE TABLE course_meetings2 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings3', 'CREATE TABLE course_meetings3 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings4', 'CREATE TABLE course_meetings4 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings5', 'CREATE TABLE course_meetings5 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings6', 'CREATE TABLE course_meetings6 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings7', 'CREATE TABLE course_meetings7 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings8', 'CREATE TABLE course_meetings8 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('course_meetings9', 'CREATE TABLE course_meetings9 (\n\t"index" BIGINT, \n\tcrn BIGINT, \n\tday TEXT, \n\t"end" TEXT, \n\tlocation TEXT, \n\tstart TEXT, \n\tterm TEXT\n)'),
 ('courses', 'CREATE TABLE courses (\n\t"index" BIGINT, \n\tact BIGINT, \n\tcap BIGINT, \n\tcatalog_id TEXT, \n\tcredits TEXT, \n\tcrn BIGINT, \n\tprimary_instruct ... (12 characters truncated) ... trem BIGINT, \n\tsection TEXT, \n\tterm TEXT, \n\ttimecodes TEXT, \n\ttitle TEXT, \n\tdays TEXT, \n\ttimes TEXT, \n\tdates TEXT, \n\tlocation TEXT\n)')]

In [71]:
%%sql

CREATE TABLE all_course_meetings (
term text,
crn int,
location datexttatype,
day text,
start text,
end text
);

 * sqlite:///.CourseData
(sqlite3.OperationalError) table all_course_meetings already exists [SQL: 'CREATE TABLE all_course_meetings (\nterm text,\ncrn int,\nlocation datexttatype,\nday text,\nstart text,\nend text\n);'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [72]:
%%sql

INSERT INTO all_course_meetings
    select term,crn,location,day,start,end from course_meetings1
union all
    select term,crn,location,day,start,end from course_meetings2
union all
    select term,crn,location,day,start,end from course_meetings3
union all
    select term,crn,location,day,start,end from course_meetings4
union all
    select term,crn,location,day,start,end from course_meetings5
union all
    select term,crn,location,day,start,end from course_meetings6
union all
    select term,crn,location,day,start,end from course_meetings7
union all
    select term,crn,location,day,start,end from course_meetings8
union all
    select term,crn,location,day,start,end from course_meetings9
union all
    select term,crn,location,day,start,end from course_meetings10
;

 * sqlite:///.CourseData
(sqlite3.OperationalError) table all_course_meetings has 9 columns but 6 values were supplied [SQL: 'INSERT INTO all_course_meetings\n    select term,crn,location,day,start,end from course_meetings1\nunion all\n    select term,crn,location,day,start,end from course_meetings2\nunion all\n    select term,crn,location,day,start,end from course_meetings3\nunion all\n    select term,crn,location,day,start,end from course_meetings4\nunion all\n    select term,crn,location,day,start,end from course_meetings5\nunion all\n    select term,crn,location,day,start,end from course_meetings6\nunion all\n    select term,crn,location,day,start,end from course_meetings7\nunion all\n    select term,crn,location,day,start,end from course_meetings8\nunion all\n    select term,crn,location,day,start,end from course_meetings9\nunion all\n    select term,crn,location,day,start,end from course_meetings10\n;'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [73]:
%%sql

select * from all_course_meetings limit 10

 * sqlite:///.CourseData
Done.

[('Fall2015', 75222, 'DSB 112', 'R', '2015-09-03T14:00:00', '2015-09-03T15:15:00', '2015-09-03', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-07T14:00:00', '2015-09-07T15:15:00', '2015-09-07', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-09-10T14:00:00', '2015-09-10T15:15:00', '2015-09-10', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-14T14:00:00', '2015-09-14T15:15:00', '2015-09-14', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-09-17T14:00:00', '2015-09-17T15:15:00', '2015-09-17', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-21T14:00:00', '2015-09-21T15:15:00', '2015-09-21', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-09-24T14:00:00', '2015-09-24T15:15:00', '2015-09-24', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-28T14:00:00', '2015-09-28T15:15:00', '2015-09-28', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-10-01T14:00:00', '2015-10-01T15:15:00', '2015-10-01', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-10-05T14:00:00', '2015-10-05T15:15:00', '2015-10-05', '14:00:00', '15:15:00')]

In [85]:
##Break Start and End columns in all_course_meetings tables into separate date and time columns
%%sql

alter table all_course_meetings add MeetingDate date;
update all_course_meetings set MeetingDate = substr(start,1,10);

alter table all_course_meetings add StartTime time;
update all_course_meetings set StartTime=substr(start,12);
alter table all_course_meetings add EndTime time;
update all_course_meetings set EndTime=substr(end,12);

SyntaxError: invalid syntax (<ipython-input-85-599582fd3dcf>, line 4)

In [86]:
%%sql

select * from all_course_meetings limit 10;

 * sqlite:///.CourseData
Done.

[('Fall2015', 75222, 'DSB 112', 'R', '2015-09-03T14:00:00', '2015-09-03T15:15:00', '2015-09-03', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-07T14:00:00', '2015-09-07T15:15:00', '2015-09-07', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-09-10T14:00:00', '2015-09-10T15:15:00', '2015-09-10', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-14T14:00:00', '2015-09-14T15:15:00', '2015-09-14', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-09-17T14:00:00', '2015-09-17T15:15:00', '2015-09-17', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-21T14:00:00', '2015-09-21T15:15:00', '2015-09-21', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-09-24T14:00:00', '2015-09-24T15:15:00', '2015-09-24', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-09-28T14:00:00', '2015-09-28T15:15:00', '2015-09-28', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'R', '2015-10-01T14:00:00', '2015-10-01T15:15:00', '2015-10-01', '14:00:00', '15:15:00'),
 ('Fall2015', 75222, 'DSB 112', 'M', '2015-10-05T14:00:00', '2015-10-05T15:15:00', '2015-10-05', '14:00:00', '15:15:00')]

In [95]:
%%sql

select distinct substr(timecodes,1,7),days from courses;

 * sqlite:///.CourseData
Done.

[("['MR 02", 'MR'),
 ("['MR 03", 'MR'),
 ("['TF 02", 'TF'),
 ("['TF 08", 'TF'),
 ("['TF 09", 'TF'),
 ("['MR 09", 'MR'),
 ("['TF 12", 'TF'),
 ("['TF 03", 'TF'),
 ("['TF 11", 'TF'),
 ("['MW 05", 'MW'),
 ("['MW 06", 'MW'),
 ("['TF 05", 'TF'),
 ("['MR 11", 'MR'),
 ("['M 063", 'M'),
 ("['T 063", 'T'),
 ("['MR 12", 'MR'),
 ("['R 063", 'R'),
 ('[]', ']'),
 ("['W 105", 'W'),
 ("['R 105", 'R'),
 ("['R 020", 'R'),
 ("['W 100", 'W'),
 ("['W 020", 'W'),
 ("['W 063", 'W'),
 ("['R 050", 'R'),
 ("['TR 06", 'TR'),
 ("['TR 05", 'TR'),
 ("['MR 08", 'MR'),
 ("['W 110", 'W'),
 ("['MW 03", 'MW'),
 ("['M 050", 'M'),
 ("['W 010", 'W'),
 ("['TWF 1", 'TWF'),
 ("['MR 05", 'MR'),
 ("['M 010", 'M'),
 ("['T 090", 'T'),
 ("['W 083", 'W'),
 ("['W 123", 'W'),
 ("['W 053", 'W'),
 ("['R 010", 'R'),
 ("['F 100", 'F'),
 ("['M 020", 'M'),
 ("['T 020", 'T'),
 ("['T 030", 'T'),
 ("['T 040", 'T'),
 ("['T 050", 'T'),
 ("['T 060", 'T'),
 ("['W 030", 'W'),
 ("['W 040", 'W'),
 ("['W 050", 'W'),
 ("['W 060", 'W'),
 ("['R 030", 'R'),
 ("['R 040", 'R'),
 ("['R 060", 'R'),
 ("['R 093", 'R'),
 ("['FS 09", 'FS'),
 ("['M 060", 'M'),
 ("['S 090", 'S'),
 ("['M 090", 'M'),
 ("['W 090", 'W'),
 ("['R 090", 'R'),
 ("['M 123", 'M'),
 ("['T 123", 'T'),
 ("['R 123", 'R'),
 ("['F 090", 'F'),
 ("['F 123", 'F'),
 ("['F 020", 'F'),
 ("['TWF 0", 'TWF'),
 ("['R 070", 'R'),
 ("['M 071", 'M'),
 ("['T 045", 'T'),
 ("['M 045", 'M'),
 ("['R 045", 'R'),
 ("['W 045", 'W'),
 ("['T 071", 'T'),
 ("['W 080", 'W'),
 ("['M 080", 'M'),
 ("['R 043", 'R'),
 ("['W 071", 'W'),
 ("['R 071", 'R'),
 ("['U 090", 'U'),
 ("['M 040", 'M'),
 ("['T 065", 'T'),
 ("['MWR 0", 'MWR'),
 ("['R 110", 'R'),
 ("['T 110", 'T'),
 ("['F 063", 'F'),
 ("['M 120", 'M'),
 ("['M 030", 'M'),
 ("['T 120", 'T'),
 ("['T 010", 'T'),
 ("['M 110", 'M'),
 ("['W 120", 'W'),
 ("['R 120", 'R'),
 ("['F 110", 'F'),
 ("['F 120", 'F'),
 ("['W 093", 'W'),
 ("['W 033", 'W'),
 ("['TR 02", 'TR'),
 ("['T 093", 'T'),
 ("['F 030", 'F'),
 ("['M 100", 'M'),
 ("['T 033", 'T'),
 ("['M 033", 'M'),
 ("['TBA 0", 'TBA'),
 ("['W 070", 'W'),
 ("['MW 07", 'MW'),
 ("['T 070", 'T'),
 ("['F 070", 'F'),
 ("['T 080", 'T'),
 ("['F 080", 'F'),
 ("['R 080", 'R'),
 ("['S 070", 'S'),
 ("['TR 08", 'TR'),
 ("['MW 10", 'MW'),
 ("['TR 10", 'TR'),
 ("['MW 08", 'MW'),
 ("['M 070", 'M'),
 ("['W 074", 'W'),
 ("['W 065", 'W'),
 ("['M 034", 'M'),
 ("['R 033", 'R'),
 ("['F 031", 'F'),
 ("['R 061", 'R'),
 ("['W 043", 'W'),
 ("['T 100", 'T'),
 ("['W 113", 'W'),
 ("['MR 06", 'MR'),
 ("['M 093", 'M'),
 ("['F 093", 'F'),
 ("['M 105", 'M'),
 ("['F 050", 'F'),
 ("['T 105", 'T'),
 ("['T 032", 'T'),
 ("['W 032", 'W'),
 ('["TBA 0', 'TBA'),
 ("['R 053", 'R'),
 ("['TBA 1", 'TBA'),
 ("['W 064", 'W'),
 ("['T 043", 'T'),
 ("['S 083", 'S'),
 ("['U 010", 'U'),
 ("['U 043", 'U'),
 ("['M 073", 'M'),
 ("['T 053", 'T'),
 ("['MR 07", 'MR'),
 ("['MW 12", 'MW'),
 ("['MW 01", 'MW'),
 ("['W TBA", 'W'),
 ("['M 074", 'M'),
 ("['TR 03", 'TR'),
 ("['R 032", 'R'),
 ("['MTWRF", 'MTWRF'),
 ("['MTWR ", 'MTWR'),
 ("['MTW 0", 'MTW'),
 ("['T 083", 'T'),
 ("['M 054", 'M'),
 ("['TF 01", 'TF'),
 ("['F 124", 'F'),
 ("['S 020", 'S'),
 ("['FS 08", 'FS'),
 ("['T 031", 'T'),
 ("['T 113", 'T'),
 ("['T 094", 'T'),
 ("['F 094", 'F'),
 ("['U 070", 'U'),
 ("['T 061", 'T'),
 ("['W 103", 'W'),
 ("['MW 04", 'MW'),
 ("['W 061", 'W'),
 ("['MR 01", 'MR'),
 ("['MTR 0", 'MTR'),
 ("['MWF 0", 'MWF'),
 ("['TWRF ", 'TWRF'),
 ("['TWR 1", 'TWR'),
 ("['TR 04", 'TR'),
 ("['TR 09", 'TR'),
 ("['MW 02", 'MW'),
 ("['MW 09", 'MW'),
 ("['RF 09", 'RF'),
 ("['WR 10", 'WR'),
 ("['RF 08", 'RF'),
 ("['MTRF ", 'MTRF'),
 ("['TW 08", 'TW'),
 ("['TR 01", 'TR'),
 ("['WR 07", 'WR'),
 ("['MR 04", 'MR'),
 ("['SU 08", 'SU'),
 ("['U 083", 'U'),
 ("['MWF 1", 'MWF'),
 ("['WS 09", 'WS'),
 ("['T 015", 'T'),
 ("['R 015", 'R'),
 ("['W 023", 'W'),
 ("['T 013", 'T'),
 ("['M 015", 'M'),
 ("['F 033", 'F'),
 ("['T 041", 'T'),
 ("['R 065", 'R'),
 ("['S 093", 'S'),
 ("['R 074", 'R'),
 ("['T 023", 'T'),
 ("['M 053", 'M'),
 ("['T 024", 'T'),
 ("['TR 07", 'TR'),
 ("['R 083", 'R'),
 ("['TW 12", 'TW'),
 ("['W 013", 'W'),
 ("['M 075", 'M'),
 ("['M 122", 'M'),
 ("['W 121", 'W'),
 ("['R 092", 'R'),
 ("['R 023", 'R'),
 ("['W 091", 'W'),
 ("['W 041", 'W'),
 ("['SU 07", 'SU'),
 ("['W 073", 'W'),
 ("['F 083", 'F'),
 ("['R TBA", 'R'),
 ("['T TBA", 'T'),
 ("['M TBA", 'M'),
 ("['F TBA", 'F'),
 ("['U 100", 'U'),
 ("['S 100", 'S'),
 ("['R 100", 'R'),
 ("['F 092", 'F'),
 ("['T 092", 'T'),
 ("['W 104", 'W'),
 ("['S 013", 'S'),
 ("['TF 10", 'TF'),
 ("['M 032", 'M'),
 ("['W 051", 'W'),
 ("['TF 07", 'TF'),
 ("['&nnbs", '&nnbsp'),
 ("['U 013", 'U'),
 ("['M 043", 'M'),
 ("['WR 04", 'WR'),
 ("['WF 12", 'WF'),
 ("['WF 09", 'WF'),
 ("['MTW 1", 'MTW'),
 ("['WRFSU", 'WRFSU'),
 ("['MF 07", 'MF'),
 ("['MFU 0", 'MFU'),
 ("['TWR 0", 'TWR'),
 ("['MT 08", 'MT'),
 ("['WF 07", 'WF'),
 ("['WFU 0", 'WFU'),
 ("['S 080", 'S'),
 ("['WR 08", 'WR'),
 ("['RF 04", 'RF'),
 ("['S TBA", 'S'),
 ("['TR 11", 'TR'),
 ("['WRF 1", 'WRF'),
 ("['TW 10", 'TW'),
 ("['F 013", 'F')]