## Import Necessary Packages and Connection Strings

In [1]:
# All query results are returned as Pandas DataFrames 
import pandas as pd

# Needed for %sql Magic
%load_ext sql

import sqlite3

conn = sqlite3.connect("./CourseDataWarehouseFinal.db")

In [2]:
%sql sqlite:///CourseDataWarehouseFinal.db

'Connected: @CourseDataWarehouseFinal.db'

## Domain Integrity Constraints

In [3]:
%%sql
SELECT count(fees)
FROM dimCourses;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(125,)]

In [4]:
%%sql 
SELECT DISTINCT count(fees)
FROM dimCourses;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(125,)]

In [5]:
%%sql
SELECT count(CRN)
FROM dimTerm;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(13860,)]

In [6]:
%%sql
SELECT DISTINCT count(CRN)
FROM dimTerm;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(13860,)]

In [7]:
%%sql
SELECT count(term)
FROM dimDate;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(16,)]

In [8]:
%%sql
SELECT DISTINCT count(term)
FROM dimDate;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(16,)]

## Entity Integrity Constraints

In [9]:
%%sql
SELECT count(program_code) as "Number of Program Codes", count(catalog_id) as "Number of Catalog IDs"
FROM dimCourses;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(2220, 2220)]

In [10]:
%%sql
SELECT DISTINCT count(program_code) as "Number of Program Codes", count(catalog_id) as "Number of Catalog IDs"
FROM dimCourses;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(2220, 2220)]

In [11]:
%%sql 
SELECT sum(program_code) IS NULL as "Program Code Null Values", sum(catalog_id) IS NULL as "Catalog_ID Null Values"
FROM dimCourses;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(0, 0)]

In [12]:
%%sql
SELECT count(crn) as "Number of CRNs", count(term) as "Number of Terms"
FROM dimTerm;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(13860, 13860)]

In [13]:
%%sql
SELECT DISTINCT count(crn) as "Number of CRNs", count(term) as "Number of Terms"
FROM dimTerm;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(13860, 13860)]

In [14]:
%%sql
SELECT sum(crn) IS NULL as "CRN Null Values", sum(term) IS NULL as "Term Null Values"
FROM dimTerm;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[(0, 0)]

## Relational Integrity Constraints

In [19]:
%%sql
SELECT *
FROM dimCourses
JOIN factClass ON dimCourses.program_code = factClass.program_code
LIMIT 5;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[('AC', 'AC 0011', 'Introduction to Financial Accounting', '3 Credits', None, None, None, None, 'This course introduces students to financial accounting. Students learn to read and comprehend published financial statements and are introduced to t ... (34 characters truncated) ... pics include financial statement analysis; accrual accounting; revenue and expense recognition; and accounting for assets, liabilities, and equities.', 'AC', 'Fall2014', 'DSB105', '2014-08-16', '2014-12-29'),
 ('AC', 'AC 0012', 'Introduction to Management Accounting', '3 Credits', 'AC 0011.', None, None, None, 'This course introduces students to managerial accounting and the role of accounting information in managerial decision-making. Topics include a descr ... (203 characters truncated) ... , activity-based costing), so that students can make recommendations about performance evaluation, project evaluation and other management decisions.', 'AC', 'Fall2014', 'DSB105', '2014-08-16', '2014-12-29'),
 ('AC', 'AC 0203', 'Intermediate Accounting I', '3 Credits', 'AC 0011.', None, None, None, 'This course provides an in-depth study of financial accounting theory and concepts, and the presentation of financial statements in conformity with G ... (9 characters truncated) ... Accepted Accounting Principles (GAAP). The course emphasizes balance sheet valuations and their relationship to income measurement and determination.', 'AC', 'Fall2014', 'DSB105', '2014-08-16', '2014-12-29'),
 ('AC', 'AC 0204', 'Intermediate Accounting II', '3 Credits', 'AC 0203.', None, None, None, 'This course continues the in-depth study of financial accounting theory and concepts, and the presentation of financial statements in conformity with Generally Accepted Accounting Principles (GAAP) begun in ', 'AC', 'Fall2014', 'DSB105', '2014-08-16', '2014-12-29'),
 ('AC', 'AC 0265', 'Accounting Information Systems', '3 Credits', 'AC 0012.', None, None, None, 'This course analyzes the methods used to capture, process, and communicate accounting information in a modern business enterprise. Students learn to  ... (218 characters truncated) ... ting information through a modern database management application program such as a general ledger package or an enterprise resource planning system.', 'AC', 'Fall2014', 'DSB105', '2014-08-16', '2014-12-29')]

In [25]:
%%sql
SELECT *
FROM dimDate
JOIN factClass ON dimDate.StartDate = factClass.StartDate
LIMIT 10;

 * sqlite:///CourseDataWarehouseFinal.db
Done.

[('Fall2014', '2014-08-16', '2014-12-29', 'AC', 'Fall2014', 'DSB104', '2014-08-16', '2014-12-29'),
 ('Fall2014', '2014-08-16', '2014-12-29', 'AC', 'Fall2014', 'DSB105', '2014-08-16', '2014-12-29'),
 ('Fall2014', '2014-08-16', '2014-12-29', 'AC', 'Fall2014', 'DSB108', '2014-08-16', '2014-12-29'),
 ('Fall2014', '2014-08-16', '2014-12-29', 'AC', 'Fall2014', 'DSB110A', '2014-08-16', '2014-12-29'),
 ('Fall2014', '2014-08-16', '2014-12-29', 'AC', 'Fall2014', 'DSB110B', '2014-08-16', '2014-12-29'),
 ('Fall2014', '2014-08-16', '2014-12-29', 'AC', 'Fall2014', 'DSB111', '2014-08-16', '2014-12-29'),
 ('Fall2014', '2014-08-16', '2014-12-29', 'AC', 'Fall2014', 'DSB112', '2014-08-16', '2014-12-29'),
 ('Fall2014', '2014-08-16', '2014-12-29', 'AC', 'Fall2014', 'DSB115', '2014-08-16', '2014-12-29'),
 ('Fall2014', '2014-08-16', '2014-12-29', 'AC', 'Fall2014', 'DSB2109A', '2014-08-16', '2014-12-29'),
 ('Fall2014', '2014-08-16', '2014-12-29', 'AC', 'Fall2015', 'DSB104', '2014-08-16', '2014-12-29')]