In [112]:
# Needed for SQL Alchemy  
from sqlalchemy import create_engine
engine=create_engine('sqlite:///.CourseData',echo=False)

# All query results are returned as Pandas DataFrames 
import pandas as pd

#Used for importing CSVs
import glob
import os

# Needed for %sql Magic
%load_ext sql

import sqlite3

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [113]:
%sql sqlite:///.CourseDataWarehouse

'Connected: @.CourseDataWarehouse.db'

In [114]:
%%sql
DROP TABLE IF EXISTS dimDate_Time_Stamp;

   sqlite:///.CourseData
 * sqlite:///.CourseDataWarehouse.db
Done.

[]

In [115]:
%%sql
DROP TABLE IF EXISTS dimCap;

   sqlite:///.CourseData
 * sqlite:///.CourseDataWarehouse.db
Done.

[]

In [116]:
%%sql
DROP TABLE IF EXISTS dimTerm;

   sqlite:///.CourseData
 * sqlite:///.CourseDataWarehouse.db
Done.

[]

In [117]:
%%sql
DROP TABLE IF EXISTS dimCRN;

   sqlite:///.CourseData
 * sqlite:///.CourseDataWarehouse.db
Done.

[]

In [118]:
%%sql
CREATE TABLE dimDate_Time_Stamp ( 
    Date_Time_Stamp INT PRIMARY KEY, 
    date date NOT NULL, 
    year INT NOT NULL, 
    season text NOT NULL, 
    day INT NOT NULL  
);

   sqlite:///.CourseData
 * sqlite:///.CourseDataWarehouse.db
Done.

[]

In [119]:
%%sql
CREATE TABLE dimCap (
    Cap INT PRIMARY KEY,
    Act INT NOT NULL,
    Rem INT NOT NULL
);

   sqlite:///.CourseData
 * sqlite:///.CourseDataWarehouse.db
Done.

[]

In [120]:
%%sql
CREATE TABLE dimTerm(
    Term INT PRIMARY KEY,
    Title TEXT NOT NULL,
    Section VarChar NOT NULL,
    Instructor TEXT NOT NULL,
    Catalog_ID VarChar NOT NULL,
    Locations VarChar NOT NULL
);

   sqlite:///.CourseData
 * sqlite:///.CourseDataWarehouse.db
Done.

[]

In [121]:
%%sql
CREATE TABLE dimCRN(
    CRN INT PRIMARY KEY,
    Location VarChar NOT NULL,
    Section VarChar NOT NULL,
    Credits INT NOT NULL
);

   sqlite:///.CourseData
 * sqlite:///.CourseDataWarehouse.db
Done.

[]

In [128]:
%%sql
CREATE TABLE factClass ( 
    CRN INT NOT NULL,
    Term VarChar NOT NULL,
    Cap INT NOT NULL,
    Date_Time_Stamp INT NOT NULL,
    FOREIGN KEY (CRN) REFERENCES dimCRN(CRN),
    FOREIGN KEY (Term) REFERENCES dimTerm(Term),
    FOREIGN KEY (Cap) REFERENCES dimCap(Cap),
    FOREIGN KEY (Date_Time_Stamp) REFERENCES dimDate_Time_Stamp(Date_Time_Stamp)   
);

   sqlite:///.CourseData
 * sqlite:///.CourseDataWarehouse.db
Done.

[]