# Importing Necessary Packages and Connecting to Database

In [1]:
# Needed for SQL Alchemy  
from sqlalchemy import create_engine
engine=create_engine('sqlite:///.CourseData',echo=False)

# Needed for %sql Magic
%load_ext sql

import sqlite3

# Initialize 
%sql sqlite:///.CourseData

'Connected: @.CourseData'

In [17]:
%%sql
select a.Term,b.CalendarDate,b.Weekday
from
Terms a
inner join
Calendar b
on a.StartDate<=b.CalendarDate and a.EndDate>=b.CalendarDate

 * sqlite:///.CourseData
Done.

[]

In [22]:
%%sql

select CRN_Term,count(Primary_Instructor) InstructorCount,count(Location) LocationCount
from course
group by CRN_Term
limit 1;

 * sqlite:///.CourseData
Done.

[('32475 Spring2015', 1, 1)]